@import 'styles/variables.scss';

.play-history {
  padding: 0 0 1em;
  max-width: $breakpoint-medium;
  margin: 0 auto;
}

@media (min-width: $breakpoint-medium) {
  .play-history {
    padding: 0;
  }
}
