@import 'styles/variables.scss';

.artist-history__item {
  padding: 1em 0.75em;
  text-align: left;
  font-size: 1.1em;
  margin: 0 -1em;

  display: flex;
  align-items: center;
  color: $dark-grey;

  &:hover {
    background: $light-grey;
  }

  transform: translate3d(0, -4px, 0);
  opacity: 0;
  animation-name: mic-drop;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 1s;

  @for $i from 1 through $animation-max-items {
    &:nth-child(#{$i}) {
      animation-delay: $i * (100ms - ($i * 2ms)) + $animation-initial-delay;
    }
  }
}

.artist__info {
  display: flex;
  align-items: center;
  flex: 3;
}

.artist__name {
  color: $dark-grey;
  font-weight: bold;
}

.artist__summary {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.artist__genres {
  color: $mid-grey;
  text-align: left;
  font-size: 0.7em;
  text-transform: capitalize;
}

.order-number {
  flex: 12px 0 0;
  text-align: right;
  margin-right: 20px;

  font-weight: bold;
  color: $mid-grey;
  font-size: 0.85em;
}

@media (min-width: $breakpoint-small) {
  .artist-history__item {
    padding: 1em 1.5em;
    margin: 0 -1.8em;
  }

  .artist__name {
    font-weight: 500;
  }

  .order-number {
    flex: 35px 0 0;
    min-width: 35px;

    margin-right: 0;
    text-align: right;
    padding-right: 23px;
  }
}
