// # Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$base-font-size: 16px;
$base-font-size-mobile: 12px;

// # Colors
$dark-grey: #50496d;
$data-grey: #555;
$mid-grey: lighten($dark-grey, 35%);
$grey: #d2d2d2;
$light-grey: #fafafa;
$bg-grey: #f9f9f9;
$black: #000;

$brand-primary: #e550a7;
$brand-dark: darken($dark-grey, 10%);
$brand-success: green;
$brand-alert: yellow;
$brand-danger: red;

$brand-pink: #f9adac;
$brand-green: #9ee2d9;
$brand-blue: #5d42e5;

// # Element Sizes
$header-height: 60px;
$header-height-mobile: 52px;
$header-top-extra: 60px;
$container-width: 1200px;

$navigation-size: 100px;
$navigation-size-mobile: 54px;

// # Button
$button-border-radius: 0px;

// Breakpoints
$breakpoint-small: 769px;
$breakpoint-medium: 1025px;
$breakpoint-large: 1400px;

// # Box-shadows
$box-shadow-1: 0 2px 6px 0 rgba(0, 0, 0, 0.15);

// # Animations
$animation-max-items: 50;
$animation-initial-delay: 100ms;
$cubic-bezier: cubic-bezier(0.87, 0.38, 0.27, 0.95);
