.play-history__item {
  padding: 1em;
  text-align: left;
  font-size: 1.1em;
  margin: 0 -1em;
  max-width: 1025px;
  display: flex;
  align-items: center;
  color: #50496d;
  transform: translate3d(0, -4px, 0);
  opacity: 0;
  animation-name: mic-drop;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 1s; }
  .play-history__item:hover {
    background: #fafafa; }
  .play-history__item:nth-child(1) {
    animation-delay: 198ms; }
  .play-history__item:nth-child(2) {
    animation-delay: 292ms; }
  .play-history__item:nth-child(3) {
    animation-delay: 382ms; }
  .play-history__item:nth-child(4) {
    animation-delay: 468ms; }
  .play-history__item:nth-child(5) {
    animation-delay: 550ms; }
  .play-history__item:nth-child(6) {
    animation-delay: 628ms; }
  .play-history__item:nth-child(7) {
    animation-delay: 702ms; }
  .play-history__item:nth-child(8) {
    animation-delay: 772ms; }
  .play-history__item:nth-child(9) {
    animation-delay: 838ms; }
  .play-history__item:nth-child(10) {
    animation-delay: 900ms; }
  .play-history__item:nth-child(11) {
    animation-delay: 958ms; }
  .play-history__item:nth-child(12) {
    animation-delay: 1012ms; }
  .play-history__item:nth-child(13) {
    animation-delay: 1062ms; }
  .play-history__item:nth-child(14) {
    animation-delay: 1108ms; }
  .play-history__item:nth-child(15) {
    animation-delay: 1150ms; }
  .play-history__item:nth-child(16) {
    animation-delay: 1188ms; }
  .play-history__item:nth-child(17) {
    animation-delay: 1222ms; }
  .play-history__item:nth-child(18) {
    animation-delay: 1252ms; }
  .play-history__item:nth-child(19) {
    animation-delay: 1278ms; }
  .play-history__item:nth-child(20) {
    animation-delay: 1300ms; }
  .play-history__item:nth-child(21) {
    animation-delay: 1318ms; }
  .play-history__item:nth-child(22) {
    animation-delay: 1332ms; }
  .play-history__item:nth-child(23) {
    animation-delay: 1342ms; }
  .play-history__item:nth-child(24) {
    animation-delay: 1348ms; }
  .play-history__item:nth-child(25) {
    animation-delay: 1350ms; }
  .play-history__item:nth-child(26) {
    animation-delay: 1348ms; }
  .play-history__item:nth-child(27) {
    animation-delay: 1342ms; }
  .play-history__item:nth-child(28) {
    animation-delay: 1332ms; }
  .play-history__item:nth-child(29) {
    animation-delay: 1318ms; }
  .play-history__item:nth-child(30) {
    animation-delay: 1300ms; }
  .play-history__item:nth-child(31) {
    animation-delay: 1278ms; }
  .play-history__item:nth-child(32) {
    animation-delay: 1252ms; }
  .play-history__item:nth-child(33) {
    animation-delay: 1222ms; }
  .play-history__item:nth-child(34) {
    animation-delay: 1188ms; }
  .play-history__item:nth-child(35) {
    animation-delay: 1150ms; }
  .play-history__item:nth-child(36) {
    animation-delay: 1108ms; }
  .play-history__item:nth-child(37) {
    animation-delay: 1062ms; }
  .play-history__item:nth-child(38) {
    animation-delay: 1012ms; }
  .play-history__item:nth-child(39) {
    animation-delay: 958ms; }
  .play-history__item:nth-child(40) {
    animation-delay: 900ms; }
  .play-history__item:nth-child(41) {
    animation-delay: 838ms; }
  .play-history__item:nth-child(42) {
    animation-delay: 772ms; }
  .play-history__item:nth-child(43) {
    animation-delay: 702ms; }
  .play-history__item:nth-child(44) {
    animation-delay: 628ms; }
  .play-history__item:nth-child(45) {
    animation-delay: 550ms; }
  .play-history__item:nth-child(46) {
    animation-delay: 468ms; }
  .play-history__item:nth-child(47) {
    animation-delay: 382ms; }
  .play-history__item:nth-child(48) {
    animation-delay: 292ms; }
  .play-history__item:nth-child(49) {
    animation-delay: 198ms; }
  .play-history__item:nth-child(50) {
    animation-delay: 100ms; }

.play__info {
  display: flex;
  align-items: center;
  flex: 3; }

.play__summary {
  display: flex;
  flex-direction: column-reverse; }

.play__separator {
  color: #ddd;
  margin: 0 0.5em;
  display: none; }

.play__track-name {
  font-weight: bold;
  color: #3a354e; }

.play__time {
  color: #aba5c3;
  text-align: right;
  flex: 60px;
  font-size: 11px; }

@media (min-width: 769px) {
  .play-history__item {
    padding: 1em 1.5em;
    margin: 0 -1.8em; }
  .play__track-name {
    font-weight: 500; }
  .play__time {
    text-align: right;
    flex: 140px 0 0;
    font-size: 1em; } }
