@import 'styles/variables.scss';

.App {
  // padding-top: $header-height + $header-top-extra;
  padding-top: 0;
}

.App-content {
  padding: 0 1.5em 1.5em;
}

.App-container {
  position: relative;
  min-height: 100%;
  padding: 0 0 46px;
  z-index: 99;
}

.preload-images {
  display: none;
  visibility: hidden;
  opacity: 0;
  img {
    height: 0;
    width: 0;
  }
}

@media (min-width: $breakpoint-small) {
  .App-container {
    padding: 0 0 0 100px;
  }

  .App-content {
    padding: 0 0 2em;
  }
}

@media (min-width: $breakpoint-medium) {
  .App-content {
    padding: 0 2em;
  }
}
