.list-page {
  display: block;
  padding-top: 30vh; }

.list-page__image {
  height: 45vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  animation: scale-to 0.4s ease-out;
  transform-origin: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.list-page__title {
  position: relative;
  z-index: 2;
  color: #fff;
  padding-bottom: 0.5em;
  top: -1.15vw; }

.list-page__content {
  position: relative;
  z-index: 3;
  background: #fff;
  min-height: 100px;
  margin: 0 -1.5em;
  padding: 20px 1.5em; }
  .list-page__content:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
    top: -7vw;
    height: 10vw;
    background: #fff;
    z-index: 3;
    transform: translate3d(0, 0, 0) skewY(-3deg);
    outline: 1px solid transparent; }

.list-page__list {
  position: relative;
  z-index: 4; }

.share-link {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  z-index: 99;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  line-height: 40px;
  font-size: 1.8em;
  border-radius: 50%;
  transition: all 0.1s;
  background: transparent;
  border: none; }
  .share-link:active {
    background: rgba(0, 0, 0, 0.075); }

@media (min-width: 500px) {
  .list-page__content:before {
    top: -4vw;
    height: 6vw;
    transform: translate3d(0, 0, 0) skewY(-2deg); } }

@media (min-width: 769px) {
  .list-page {
    display: block;
    width: 100%;
    max-width: 1025px;
    position: relative;
    margin: 0 auto 1.5em;
    padding: 400px 1.5em 0em;
    padding: calc(55vh - 100px) 1.5em 2em;
    background: #fff;
    min-height: 105vh; }
  .list-page__title {
    padding-bottom: 0;
    top: -0.75em; }
  .list-page__image {
    height: 500px;
    height: 55vh;
    position: absolute;
    animation: none; }
  .list-page__content {
    margin: 0 -1.5em;
    padding: 35px 2em; }
    .list-page__content:before {
      top: -25px;
      height: 45px;
      transform: translate3d(0, 0, 0) skewY(-1.5deg); } }

@media (min-width: 1025px) {
  body {
    background: #f9f9f9; }
  .list-page {
    box-shadow: 0 2px 40px rgba(80, 80, 80, 0.05);
    margin: 0 auto;
    padding: calc(55vh - 100px) 1.5em 5.5em; }
  .share-link:hover {
    background: rgba(0, 0, 0, 0.05); } }
